<a href="https://colab.research.google.com/github/IamBansal/Python/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
ir = pd.read_csv("/Iris.csv")
ir

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df = ir.copy()

In [19]:
df.shape

(150, 6)

In [21]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [22]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [25]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [27]:
df.columns = ['id','sp','sw','pl','pw','type']
df.dtypes

id        int64
sp      float64
sw      float64
pl      float64
pw      float64
type     object
dtype: object

In [28]:
df.isnull()

        id     sp     sw     pl     pw   type
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False
4    False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...
145  False  False  False  False  False  False
146  False  False  False  False  False  False
147  False  False  False  False  False  False
148  False  False  False  False  False  False
149  False  False  False  False  False  False

[150 rows x 6 columns]

In [29]:
df.isnull().sum()

id      0
sp      0
sw      0
pl      0
pw      0
type    0
dtype: int64

In [33]:
df.iloc[1:7,2:5]

    sw   pl   pw
1  3.0  1.4  0.2
2  3.2  1.3  0.2
3  3.1  1.5  0.2
4  3.6  1.4  0.2
5  3.9  1.7  0.4
6  3.4  1.4  0.3

In [34]:
df

      id   sp   sw   pl   pw            type
0      1  5.1  3.5  1.4  0.2     Iris-setosa
1      2  4.9  3.0  1.4  0.2     Iris-setosa
2      3  4.7  3.2  1.3  0.2     Iris-setosa
3      4  4.6  3.1  1.5  0.2     Iris-setosa
4      5  5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...  ...             ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica
146  147  6.3  2.5  5.0  1.9  Iris-virginica
147  148  6.5  3.0  5.2  2.0  Iris-virginica
148  149  6.2  3.4  5.4  2.3  Iris-virginica
149  150  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 6 columns]

In [36]:
df.drop(3)

      id   sp   sw   pl   pw            type
0      1  5.1  3.5  1.4  0.2     Iris-setosa
1      2  4.9  3.0  1.4  0.2     Iris-setosa
2      3  4.7  3.2  1.3  0.2     Iris-setosa
4      5  5.0  3.6  1.4  0.2     Iris-setosa
5      6  5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...  ...             ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica
146  147  6.3  2.5  5.0  1.9  Iris-virginica
147  148  6.5  3.0  5.2  2.0  Iris-virginica
148  149  6.2  3.4  5.4  2.3  Iris-virginica
149  150  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 6 columns]

In [37]:
df

      id   sp   sw   pl   pw            type
0      1  5.1  3.5  1.4  0.2     Iris-setosa
1      2  4.9  3.0  1.4  0.2     Iris-setosa
2      3  4.7  3.2  1.3  0.2     Iris-setosa
3      4  4.6  3.1  1.5  0.2     Iris-setosa
4      5  5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...  ...             ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica
146  147  6.3  2.5  5.0  1.9  Iris-virginica
147  148  6.5  3.0  5.2  2.0  Iris-virginica
148  149  6.2  3.4  5.4  2.3  Iris-virginica
149  150  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 6 columns]

In [43]:
df.drop(4,inplace = True)

In [44]:
df

      id   sp   sw   pl   pw            type
0      1  5.1  3.5  1.4  0.2     Iris-setosa
1      2  4.9  3.0  1.4  0.2     Iris-setosa
2      3  4.7  3.2  1.3  0.2     Iris-setosa
5      6  5.4  3.9  1.7  0.4     Iris-setosa
6      7  4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...  ...             ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica
146  147  6.3  2.5  5.0  1.9  Iris-virginica
147  148  6.5  3.0  5.2  2.0  Iris-virginica
148  149  6.2  3.4  5.4  2.3  Iris-virginica
149  150  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 6 columns]

In [46]:
df.index[5]

7

In [49]:
df.drop(df.index[4],inplace = True)

In [50]:
df

      id   sp   sw   pl   pw            type
0      1  5.1  3.5  1.4  0.2     Iris-setosa
1      2  4.9  3.0  1.4  0.2     Iris-setosa
2      3  4.7  3.2  1.3  0.2     Iris-setosa
5      6  5.4  3.9  1.7  0.4     Iris-setosa
8      9  4.4  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...  ...             ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica
146  147  6.3  2.5  5.0  1.9  Iris-virginica
147  148  6.5  3.0  5.2  2.0  Iris-virginica
148  149  6.2  3.4  5.4  2.3  Iris-virginica
149  150  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 6 columns]

In [52]:
df.drop('sp',axis=1)

      id   sw   pl   pw            type
0      1  3.5  1.4  0.2     Iris-setosa
1      2  3.0  1.4  0.2     Iris-setosa
2      3  3.2  1.3  0.2     Iris-setosa
5      6  3.9  1.7  0.4     Iris-setosa
8      9  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  146  3.0  5.2  2.3  Iris-virginica
146  147  2.5  5.0  1.9  Iris-virginica
147  148  3.0  5.2  2.0  Iris-virginica
148  149  3.4  5.4  2.3  Iris-virginica
149  150  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

In [53]:
df

      id   sp   sw   pl   pw            type
0      1  5.1  3.5  1.4  0.2     Iris-setosa
1      2  4.9  3.0  1.4  0.2     Iris-setosa
2      3  4.7  3.2  1.3  0.2     Iris-setosa
5      6  5.4  3.9  1.7  0.4     Iris-setosa
8      9  4.4  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...  ...             ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica
146  147  6.3  2.5  5.0  1.9  Iris-virginica
147  148  6.5  3.0  5.2  2.0  Iris-virginica
148  149  6.2  3.4  5.4  2.3  Iris-virginica
149  150  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 6 columns]

In [54]:
df.drop('sp',axis=1,inplace=True)

In [55]:
df

      id   sw   pl   pw            type
0      1  3.5  1.4  0.2     Iris-setosa
1      2  3.0  1.4  0.2     Iris-setosa
2      3  3.2  1.3  0.2     Iris-setosa
5      6  3.9  1.7  0.4     Iris-setosa
8      9  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  146  3.0  5.2  2.3  Iris-virginica
146  147  2.5  5.0  1.9  Iris-virginica
147  148  3.0  5.2  2.0  Iris-virginica
148  149  3.4  5.4  2.3  Iris-virginica
149  150  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

In [56]:
df.loc[150]=[150,1,2,3,4]

In [58]:
df.tail()

      id   sw   pl   pw            type
146  147  2.5  5.0  1.9  Iris-virginica
147  148  3.0  5.2  2.0  Iris-virginica
148  149  3.4  5.4  2.3  Iris-virginica
149  150  3.0  5.1  1.8  Iris-virginica
150  150  1.0  2.0  3.0               4

In [59]:
df["difference"]=df['pl']-df['pw']

In [60]:
df

      id   sw   pl   pw            type  difference
0      1  3.5  1.4  0.2     Iris-setosa         1.2
1      2  3.0  1.4  0.2     Iris-setosa         1.2
2      3  3.2  1.3  0.2     Iris-setosa         1.1
5      6  3.9  1.7  0.4     Iris-setosa         1.3
8      9  2.9  1.4  0.2     Iris-setosa         1.2
..   ...  ...  ...  ...             ...         ...
146  147  2.5  5.0  1.9  Iris-virginica         3.1
147  148  3.0  5.2  2.0  Iris-virginica         3.2
148  149  3.4  5.4  2.3  Iris-virginica         3.1
149  150  3.0  5.1  1.8  Iris-virginica         3.3
150  150  1.0  2.0  3.0               4        -1.0

[147 rows x 6 columns]

In [62]:
df.reset_index(drop=True,inplace=True)

In [63]:
df

      id   sw   pl   pw            type  difference
0      1  3.5  1.4  0.2     Iris-setosa         1.2
1      2  3.0  1.4  0.2     Iris-setosa         1.2
2      3  3.2  1.3  0.2     Iris-setosa         1.1
3      6  3.9  1.7  0.4     Iris-setosa         1.3
4      9  2.9  1.4  0.2     Iris-setosa         1.2
..   ...  ...  ...  ...             ...         ...
142  147  2.5  5.0  1.9  Iris-virginica         3.1
143  148  3.0  5.2  2.0  Iris-virginica         3.2
144  149  3.4  5.4  2.3  Iris-virginica         3.1
145  150  3.0  5.1  1.8  Iris-virginica         3.3
146  150  1.0  2.0  3.0               4        -1.0

[147 rows x 6 columns]

In [64]:
import numpy as np
df.iloc[1:4,2:4]=np.nan

In [65]:
df

      id   sw   pl   pw            type  difference
0      1  3.5  1.4  0.2     Iris-setosa         1.2
1      2  3.0  NaN  NaN     Iris-setosa         1.2
2      3  3.2  NaN  NaN     Iris-setosa         1.1
3      6  3.9  NaN  NaN     Iris-setosa         1.3
4      9  2.9  1.4  0.2     Iris-setosa         1.2
..   ...  ...  ...  ...             ...         ...
142  147  2.5  5.0  1.9  Iris-virginica         3.1
143  148  3.0  5.2  2.0  Iris-virginica         3.2
144  149  3.4  5.4  2.3  Iris-virginica         3.1
145  150  3.0  5.1  1.8  Iris-virginica         3.3
146  150  1.0  2.0  3.0               4        -1.0

[147 rows x 6 columns]

In [67]:
df.isnull().sum()

id            0
sw            0
pl            3
pw            3
type          0
difference    0
dtype: int64

In [68]:
df.dropna(inplace=True)

In [69]:
df

      id   sw   pl   pw            type  difference
0      1  3.5  1.4  0.2     Iris-setosa         1.2
4      9  2.9  1.4  0.2     Iris-setosa         1.2
5     10  3.1  1.5  0.1     Iris-setosa         1.4
6     11  3.7  1.5  0.2     Iris-setosa         1.3
7     12  3.4  1.6  0.2     Iris-setosa         1.4
..   ...  ...  ...  ...             ...         ...
142  147  2.5  5.0  1.9  Iris-virginica         3.1
143  148  3.0  5.2  2.0  Iris-virginica         3.2
144  149  3.4  5.4  2.3  Iris-virginica         3.1
145  150  3.0  5.1  1.8  Iris-virginica         3.3
146  150  1.0  2.0  3.0               4        -1.0

[144 rows x 6 columns]

In [70]:
df.reset_index(drop=True,inplace=True)

In [71]:
df

      id   sw   pl   pw            type  difference
0      1  3.5  1.4  0.2     Iris-setosa         1.2
1      9  2.9  1.4  0.2     Iris-setosa         1.2
2     10  3.1  1.5  0.1     Iris-setosa         1.4
3     11  3.7  1.5  0.2     Iris-setosa         1.3
4     12  3.4  1.6  0.2     Iris-setosa         1.4
..   ...  ...  ...  ...             ...         ...
139  147  2.5  5.0  1.9  Iris-virginica         3.1
140  148  3.0  5.2  2.0  Iris-virginica         3.2
141  149  3.4  5.4  2.3  Iris-virginica         3.1
142  150  3.0  5.1  1.8  Iris-virginica         3.3
143  150  1.0  2.0  3.0               4        -1.0

[144 rows x 6 columns]

In [72]:
df.iloc[1:4,2:4]=np.nan

In [73]:
df

      id   sw   pl   pw            type  difference
0      1  3.5  1.4  0.2     Iris-setosa         1.2
1      9  2.9  NaN  NaN     Iris-setosa         1.2
2     10  3.1  NaN  NaN     Iris-setosa         1.4
3     11  3.7  NaN  NaN     Iris-setosa         1.3
4     12  3.4  1.6  0.2     Iris-setosa         1.4
..   ...  ...  ...  ...             ...         ...
139  147  2.5  5.0  1.9  Iris-virginica         3.1
140  148  3.0  5.2  2.0  Iris-virginica         3.2
141  149  3.4  5.4  2.3  Iris-virginica         3.1
142  150  3.0  5.1  1.8  Iris-virginica         3.3
143  150  1.0  2.0  3.0               4        -1.0

[144 rows x 6 columns]

In [74]:
df.sw.fillna(df.sw.mean(),inplace=True)

In [76]:
df.pl.fillna(df.pl.mean(),inplace=True)

In [78]:
df.pw.fillna(df.pw.mean(),inplace=True)

In [79]:
df

      id   sw       pl        pw            type  difference
0      1  3.5  1.40000  0.200000     Iris-setosa         1.2
1      9  2.9  3.90922  1.280851     Iris-setosa         1.2
2     10  3.1  3.90922  1.280851     Iris-setosa         1.4
3     11  3.7  3.90922  1.280851     Iris-setosa         1.3
4     12  3.4  1.60000  0.200000     Iris-setosa         1.4
..   ...  ...      ...       ...             ...         ...
139  147  2.5  5.00000  1.900000  Iris-virginica         3.1
140  148  3.0  5.20000  2.000000  Iris-virginica         3.2
141  149  3.4  5.40000  2.300000  Iris-virginica         3.1
142  150  3.0  5.10000  1.800000  Iris-virginica         3.3
143  150  1.0  2.00000  3.000000               4        -1.0

[144 rows x 6 columns]

In [80]:
df["type"]=df["type"].map({"setosa":1,"virginica":2})

In [81]:
df

      id   sw       pl        pw  type  difference
0      1  3.5  1.40000  0.200000   NaN         1.2
1      9  2.9  3.90922  1.280851   NaN         1.2
2     10  3.1  3.90922  1.280851   NaN         1.4
3     11  3.7  3.90922  1.280851   NaN         1.3
4     12  3.4  1.60000  0.200000   NaN         1.4
..   ...  ...      ...       ...   ...         ...
139  147  2.5  5.00000  1.900000   NaN         3.1
140  148  3.0  5.20000  2.000000   NaN         3.2
141  149  3.4  5.40000  2.300000   NaN         3.1
142  150  3.0  5.10000  1.800000   NaN         3.3
143  150  1.0  2.00000  3.000000   NaN        -1.0

[144 rows x 6 columns]